.grid__trash{
    background: none;
    border: none;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 19.3px;
    transition: opacity 0.1s linear;
    margin-right: 6px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.grid__trash:hover{
    opacity: 0.6;
}