.header__container{
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.header__container{
    margin-bottom: 37px;
}

@media screen and (max-width: 900px) {
    .header__container{
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media screen and (max-width: 580px) {
    .header__container{
        margin-bottom: 28px;
        margin-top: 28px;
    }
}