.profile__button-avatar {
    background-color: #000000;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 120px;
    transition: opacity 0.1s linear;
    position: relative;
    padding: 0;
}

.profile__button-avatar::before {
    background-image: url(../../../images/pencil.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease;
    z-index: 1;
}



.profile__button-avatar:hover:before {
    opacity: 0.8;
    background-color: #000000;
}