.header__burger-menu{

        background: none;
        border: none;
        background-image: url(../../../images/burger.svg);
        width: 24px;
        height: 22px;
        transition: opacity 0.1s linear;
        cursor: pointer;
        background-repeat: no-repeat;
}

.header__burger-menu:hover {
    opacity: 0.6;
  }